n8n/invoice_intake_workflow.json
{
  "name": "Factory Invoice Intake → Dashboard Excel",
  "nodes": [
    {
      "parameters": {
        "path": "/data/invoices/incoming",
        "events": ["add"],
        "options": {
          "followSymlinks": false
        }
      },
      "id": "trigger-file-watch",
      "name": "Watch invoices folder",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [240, 320],
      "notesInFlow": true,
      "notes": "Swap for Google Drive / OneDrive / Dropbox trigger as needed. Watches for new .xlsx invoices dropped by factories."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"path\"].toLowerCase()}}",
              "operation": "endsWith",
              "value2": ".xlsx"
            }
          ]
        }
      },
      "id": "filter-xlsx",
      "name": "Only .xlsx",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 320]
    },
    {
      "parameters": {
        "filePath": "={{$json[\"path\"]}}"
      },
      "id": "read-binary",
      "name": "Read Excel binary",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [680, 280]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "options": {
          "readAsString": false,
          "rawData": true,
          "includeEmptyCells": true,
          "headerRow": false
        }
      },
      "id": "parse-xlsx",
      "name": "Parse Excel → rows",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [900, 280]
    },
    {
      "parameters": {
        "jsCode": "// Detect factory layout by scanning the first ~10 rows for known anchor strings.\n// Outputs: { factory: 'A'|'B'|'C'|'UNKNOWN', rawRows: [...], fileName: '...' }\nconst rows = $input.first().json && Array.isArray($input.first().json.data)\n  ? $input.first().json.data\n  : items.map(i => i.json);\n\nconst flat = JSON.stringify(rows.slice(0, 12)).toLowerCase();\nlet factory = 'UNKNOWN';\nif (flat.includes('aurelia') || flat.includes('gold rate (usd/oz)')) factory = 'A';\nelse if (flat.includes('reference po:') || flat.includes('gold spot (usd/oz)')) factory = 'B';\nelse if (flat.includes('ring summary') || flat.includes('stone detail')) factory = 'C';\n\nreturn [{ json: { factory, rawRows: rows, fileName: $('Watch invoices folder').item.json.path } }];\n"
      },
      "id": "detect-factory",
      "name": "Detect factory layout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "modelId": "claude-sonnet-4-6",
        "messages": {
          "messageValues": [
            {
              "role": "user",
              "content": "=You are an invoice-extraction agent. Convert the spreadsheet rows below into our canonical JSON schema.\n\nFactory layout: {{$json.factory}}\nSource file: {{$json.fileName}}\n\nCanonical schema (output exactly this shape, nothing else, valid JSON only):\n\n{\n  \"lines\": [\n    {\n      \"uid\": \"string\",\n      \"po\": \"string\",\n      \"po_sent_date\": \"YYYY-MM-DD\",\n      \"sku\": \"string\",\n      \"quantity\": number,\n      \"karat\": \"14K | 18K | 22K\",\n      \"color\": \"White Gold | Yellow Gold | Rose Gold\",\n      \"gold_weight_g\": number,\n      \"gold_price_usd_per_oz\": number,\n      \"diamonds\": [\n        { \"shape\": \"Round|Princess|Oval|Cushion|Emerald|Pear|Marquise|Asscher|Radiant|Heart|SideBag\",\n          \"quality\": \"<clarity> <color>\",\n          \"carats\": number,\n          \"count\": integer,\n          \"price_per_carat_usd\": number }\n      ],\n      \"labour_cost_usd\": number,\n      \"final_cost_usd\": number\n    }\n  ]\n}\n\nRules:\n- Factory A: metal cell like \"14K WG\" → split into karat + color (WG=White, YG=Yellow, RG=Rose). Stone Description is free text such as `1x 0.50ct Round VS1 F + 20x 0.01ct Round SI1 G` — split on ` + `, parse each token.\n- Factory B: ring rows + diamond rows, joined by Tag No. Forward-fill UID on blank cells. Quality `VVS2 / E` → store as `VVS2 E`.\n- Factory C: two sheets joined on UID — Ring Summary + Stone Detail.\n- Use ISO dates. Numbers are numbers, not strings.\n- Return only JSON, no prose, no markdown fences.\n\nSpreadsheet rows (JSON):\n{{JSON.stringify($json.rawRows)}}"
            }
          ]
        },
        "options": {
          "maxTokensToSample": 8000,
          "temperature": 0
        }
      },
      "id": "llm-extract",
      "name": "Claude: extract to canonical JSON",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1360, 280],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM's JSON response and emit one item per invoice line plus\n// a sibling item carrying the original file path (used for archiving).\nconst raw = $json.content?.[0]?.text || $json.text || $json.message?.content || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/^```json\\s*|```\\s*$/g, '').trim());\n} catch (err) {\n  throw new Error('LLM did not return valid JSON: ' + err.message + '\\n---\\n' + raw.slice(0, 500));\n}\n\nconst lines = Array.isArray(parsed.lines) ? parsed.lines : [];\nconst sourcePath = $('Detect factory layout').item.json.fileName;\n\nreturn [\n  { json: { canonical: { lines }, sourcePath, lineCount: lines.length } }\n];\n"
      },
      "id": "parse-llm-output",
      "name": "Parse + validate canonical",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 280]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/invoices/processed/{{$now.format('yyyyMMdd-HHmmss')}}-canonical.json",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-json",
      "name": "Write canonical JSON",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1840, 180],
      "notes": "Pre-step (Set node) should base64-encode the JSON into `data`. The dashboard upload is this file."
    },
    {
      "parameters": {
        "jsCode": "// Flatten the canonical structure into a single row per (uid, diamond)\n// for the Excel writer. Ring rows have diamond fields blank; diamond rows\n// reuse the parent UID so a human can read both pivots in one sheet.\nconst out = [];\nfor (const line of $json.canonical.lines) {\n  out.push({\n    uid: line.uid,\n    po: line.po,\n    po_sent_date: line.po_sent_date,\n    sku: line.sku,\n    quantity: line.quantity,\n    karat: line.karat,\n    color: line.color,\n    gold_weight_g: line.gold_weight_g,\n    gold_price_usd_per_oz: line.gold_price_usd_per_oz,\n    labour_cost_usd: line.labour_cost_usd,\n    final_cost_usd: line.final_cost_usd,\n    diamond_shape: '',\n    diamond_quality: '',\n    diamond_carats: '',\n    diamond_count: '',\n    diamond_price_per_carat_usd: ''\n  });\n  for (const d of (line.diamonds || [])) {\n    out.push({\n      uid: line.uid,\n      po: '', po_sent_date: '', sku: '', quantity: '', karat: '', color: '',\n      gold_weight_g: '', gold_price_usd_per_oz: '',\n      labour_cost_usd: '', final_cost_usd: '',\n      diamond_shape: d.shape,\n      diamond_quality: d.quality,\n      diamond_carats: d.carats,\n      diamond_count: d.count,\n      diamond_price_per_carat_usd: d.price_per_carat_usd\n    });\n  }\n}\nreturn out.map(json => ({ json }));\n"
      },
      "id": "flatten-for-xlsx",
      "name": "Flatten for Excel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 360]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "=invoice-dashboard-{{$now.format('yyyyMMdd-HHmmss')}}.xlsx",
          "sheetName": "Invoice"
        }
      },
      "id": "write-xlsx",
      "name": "Write dashboard Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [2060, 360]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/invoices/processed/{{$now.format('yyyyMMdd-HHmmss')}}-{{$json.fileName ? $json.fileName.split('/').pop() : 'invoice.xlsx'}}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-xlsx-disk",
      "name": "Save Excel to disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2280, 360]
    },
    {
      "parameters": {
        "command": "=mv \"{{$('Detect factory layout').item.json.fileName}}\" /data/invoices/archive/"
      },
      "id": "archive-source",
      "name": "Archive source invoice",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2280, 180]
    }
  ],
  "connections": {
    "Watch invoices folder": {
      "main": [[{ "node": "Only .xlsx", "type": "main", "index": 0 }]]
    },
    "Only .xlsx": {
      "main": [[{ "node": "Read Excel binary", "type": "main", "index": 0 }]]
    },
    "Read Excel binary": {
      "main": [[{ "node": "Parse Excel → rows", "type": "main", "index": 0 }]]
    },
    "Parse Excel → rows": {
      "main": [[{ "node": "Detect factory layout", "type": "main", "index": 0 }]]
    },
    "Detect factory layout": {
      "main": [[{ "node": "Claude: extract to canonical JSON", "type": "main", "index": 0 }]]
    },
    "Claude: extract to canonical JSON": {
      "main": [[{ "node": "Parse + validate canonical", "type": "main", "index": 0 }]]
    },
    "Parse + validate canonical": {
      "main": [
        [
          { "node": "Write canonical JSON", "type": "main", "index": 0 },
          { "node": "Flatten for Excel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Flatten for Excel": {
      "main": [[{ "node": "Write dashboard Excel", "type": "main", "index": 0 }]]
    },
    "Write dashboard Excel": {
      "main": [[{ "node": "Save Excel to disk", "type": "main", "index": 0 }]]
    },
    "Write canonical JSON": {
      "main": [[{ "node": "Archive source invoice", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true
  },
  "tags": ["invoice", "intake", "claude"]
}
